main{
  background-color: #F0F0F0;
}
.main_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post_content > h2, h1, h3{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.post_content{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-top: 25px;
  margin-bottom: 20px;
}
.post{
    background-color: white;
    margin-top: 15px;
    width: 45%;
    min-width: 800px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    flex-wrap: wrap;
    flex:1;

}
.topic{
  min-width: 800px;
}
#link{
  display: none;
}

@media screen and (max-width: 950px){
  #nav2{
    display: none;
  }
  .search_form{
    display: none;
  }
  #search{
    display: block !important;
    
  }
  .search_form2{
    width: 85% !important;
  }
    .link{
      display: none;
    }
    #link{
      display: block;
    }
    #offcanvasNavbar{
      width: 250px;
    }
}



@media screen and (max-width: 890px){
  .post{
    
    min-width: 0px;
    width: 100%;
    padding: 13px;
    padding-left: 10px;
    margin-left: 0px;
    box-sizing: content-box;
    position: relative;
    margin-right: 3px;
    margin-top: 10px;
  }

}

.post_public_time{
  -webkit-font-smoothing: antialiased;
  color: #777;
  display: inline-block;
  font-size: .8125rem;
  font-weight: 500;
  line-height: .9375rem;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: middle
}
.read_next{
  background-color: transparent;
  border: 1px solid #75aeca;
  border-radius: 3px;
  color: #548eaa;
  cursor: pointer;
  display: inline-block;
  font-size: .8125rem;
  height: 36px;
  line-height: 2.25rem;
  margin-top: 18px;
  padding: 0 13px;
  text-decoration: none;
  transition: .5s;
}
.read_next:hover{
    background-color: #7aa1bd;
    border: 1px solid transparent;
    color: #fff;
}
.span_post{
  color: #5f5f5f; 
  font-size: 13px; 
  font-weight: 500; 
  font-family: 'Fira Sans', sans-serif; 

}
.post_h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #414b50;
    font-weight: 700;
}
.post > h2{
  font-family: 'Fira Sans', sans-serif;
}
.post_href{
  -webkit-font-smoothing: antialiased;
  font-family: Fira Sans,sans-serif;
  color: #333;
  font-size: 1.25rem;
  font-weight: inherit;
  line-height: 1.3;
  text-decoration: none;
  transition: .35s;
}
.post_href:hover{
  color:#4C8EAB;
}
.profile_pic{   
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
    margin-left: 200px;
    border-radius: 50%;
}
.post > a{
  text-decoration: none;
  
}
.image{
  
  margin-bottom: 20px;
  max-width: 780px;
  object-fit: cover;
  padding-bottom: 56.4103%;
  position: relative;
  width: 100%;
}
.post-img{
  /*max-width: 750px;
  max-height: 400px;
  min-width: 600px;
  min-height: 350px;
  */
  margin-top: 5px;
  position: absolute;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.post-img-author{
  display: flex;
  align-items: center;
}
main{
  padding: 20px;
  padding-left: 40px;
  padding-bottom: 60px;
  
}
.link{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  color: #909090;
  transition: .2s;
  font-size: .875rem;
}
.link:hover{
  color:#4C8EAB;
}
@media screen and (min-width: 1250px){
  .aside-main{

    position: absolute;
  }
  .aside{
    background-color: #F7F7F7;
    width: 40%;
    float: right;
    margin-top: 95px;
    min-height: 40em;
    max-width: 20em;
    margin-right: 2em;
    position: relative;
  }
}
@media screen and (max-width: 1249px){
  .aside{
    display: none;
  }
  
}
.search_form > label{
  display: none;
}
.search_form{
  position: relative;
  width: 65%;

}
.search_form > input{
  display: block;
  border: 1px solid #000;
  margin-right: 0;
  margin-top: 0;
  border-radius: 1em;
  width: 100%;
  height: 2.5em;
  line-height: 3em;
  border-radius: 1.5em;
  border: 1px solid;
  padding: 0 1.5em;
}
.search_form > button{
  position: absolute;
  top: 5px;
  right: .4em;
  height: 1.5em;
  border-radius: 1.1em;
  border: none;
  background-color: white;
}
.search_form input:hover{
  border: 1px solid #00be29;

}
.search_form input{
  transition: .25s;
}



.search_form2 > label{
  display: none;
}
.search_form2{
  position: relative;
  width: 65%;

}
.search_form2 > input{
  display: block;
  border: 1px solid #000;
  margin-right: 0;
  margin-top: 0;
  border-radius: 1em;
  width: 100%;
  height: 2.5em;
  line-height: 3em;
  border-radius: 1.5em;
  border: 1px solid;
  padding: 0 1.5em;
}
.search_form2 > button{
  position: absolute;
  top: 5px;
  right: .4em;
  height: 1.5em;
  border-radius: 1.1em;
  border: none;
  background-color: white;
}
.search_form2 input:hover{
  border: 1px solid #00be29;

}
.search_form2 input{
  transition: .25s;
}




.profile_pic_profile{
  position: relative;
  max-width: 250px;
  margin-bottom: 10px;
  border-radius: 3px;
  max-height: 160px;
}

.info{
  background-color: white;
  margin-top: 20px;
  
  width: 45%;
  min-width: 800px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
  display: block;
  padding: 15px;
  flex-wrap: wrap;
  flex:1;
}

@media screen and (max-width: 890px){
  .info{
        
    min-width: 0px;
    width: 100%;
    margin-left: 0px;
    box-sizing: content-box;
    position: relative;
    margin-right: 3px;
    margin-top: 10px;
  }
  main{
    padding: 13px !important;
    margin: 0;
  }
}
.container-fluid{
  justify-content: center !important;
}
.link{
  margin-right: 3vw;
}

.about_link{
  color: #333;
  transition: .4s;
  text-decoration: none;
}
.about_link:hover{
  color: #4C8EAB;
}
#nav{
  background-color: #303B44;
}
.search_form{
  display: none;
}
.post_link_h3{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #414b50;
  font-weight: 700;
}
.post_link_h3:hover{
  color: #4C8EAB !important;
}
.post_h3{
  transition: .3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #414b50;
    font-weight: 700;
}
.post_rubric{
  -webkit-font-smoothing: antialiased;
  color: #5e6973;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5rem;
  transition: .4s;
}
.span_post1{
  margin-right: 13px;
  margin-top: 5px;
  color: #798e98;
  font-size: .8125rem;
  font-weight: 700;
  margin-left: 2px;
  line-height: 1;
}
.links-bottom {
  display: flex;
  align-items: center;
}
.post_rubric:hover{
color: #4C8EAB
}
.dark-mode  .post_rubric{
  color:#c9c9c9;
}
.theme-btn{
  background: none;
  border: none;
  margin-right: 5px;
}
.dark-mode .post_h3{
  color: rgb(182, 182, 182);
}
.dark-mode .post_h3:hover{
  color: #4C8EAB !important;
}
.post_h3:hover{
  color: #4C8EAB;
}
.dark-mode{
  color: white;
  
}
.dark-mode #nav{
  background-color: #1c1c1c!important;
}
.dark-mode main{
  background-color: #222;
}
.dark-mode #offcanvasNavbar{
  background-color: #222;
  color: white;
}
.dark-mode .nav-link{
  color: white!important;
}
.dark-mode .dropdown-menu.show{
  background-color: #333;
}
.dark-mode .nav-item a:hover{
  color: #b4b4b4 !important;
}
.dark-mode .dropdown-menu.show .dropdown-item {
  color: white;
  transition: .4s;
}
.dark-mode .dropdown-menu.show .dropdown-item:hover{
  color: #1e2125 !important;
  background-color: #e9ecef;
} 
.dark-mode .post{
  color: #e9e9e9;
  background-color: rgb(49, 49, 49);
  border-bottom: none;
}
.dark-mode .post_href{
  color: white;
}
.dark-mode .topic{
  color: white;
  background-color: rgb(49, 49, 49)!important;
}
.dark-mode .topic > h1{
  color: white!important;
}
.dark-mode .topic > p > button{
  color: white;
}
.dark-mode .topic #collapseExample .card-body{
  background-color: rgb(49, 49, 49)!important;
}

.dark-mode .post_href:hover{
  color:#a4dced;
}
.dark-mode  .post_rubric{
  color:#c9c9c9;
}
.dark-mode .post_h3{
  color: #C9D1D9;
}
.dark-mode .post_public_time{
  color: #888;
}
.dark-mode .sidebar{
  color: #C9D1D9;
  background-color: rgb(49, 49, 49);
  
}
.dark-mode .related_posts{
  border-bottom: 10px solid #222;
}
.dark-mode .aside-main{
  background-color:rgb(49, 49, 49); ;
}
.dark-mode .about_link{
  color: white;
}
.dark-mode .about_link:hover{
  color:#a4dced;
}
.dark-mode .related_h2{
  color: white;
}
.dark-mode .post_href_related{
  color: #e1e1e1;
}
.dark-mode .post_href_related:hover{
  color:#a4dced;
}
.dark-mode .span_post{
  color: #e1e1e1;
}
.dark-mode #nav2{

  background-color: rgb(49, 49, 49)!important;
}
.dark-mode .link{
  color: white;
}
.dark-mode .page{
  background-color: #222;
}
.dark-mode .span_post1{
  color: #dadada;
}
.dark-mode .link:hover{
  color: #4C8EAB;
}
.dark-mode .info{
  background-color: rgb(49, 49, 49);
  border-bottom: none
}
.dark-mode .card-body{
  background: none;
}
.dark-mode .form-control{
  background-color: rgb(49, 49, 49)!important;
  color: white;
  border:1px solid rgb(29, 29, 29);
}
.dark-mode .form-control:focus{
  color: white;
}



.site-footer{

  background-color:#2C3135;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  position: relative;
  top: 80px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  width: 75%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  border-bottom: 1px solid hsla(0,0%,100%,.24);
}
.site-footer a
{
  text-decoration: none;
  color: white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  transition: .3s;
  color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #487284;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.dark-mode .navbar-brand:hover{
  transition: .3s;
  text-shadow: 2px 2px 2px rgb(0, 247, 255);
}
.dark-mode .link:hover{
  color: #a4dced;
  text-shadow: 0px 0px 10px #03bdba;
}