{% extends 'post/main.html' %}
{% load static %}
{% block title %} <title>Правила сайта</title> {% endblock %}
{% block content %}
{% block css %}<link rel="stylesheet" href="{% static 'about.css' %}">{% endblock %}

<div class="info">
    <h3>Правила сайта</h3>
    <p>
        Обычно IT-специалисты и интересующиеся данной сферой — это люди культурные, уважающие не только себя, но и собеседников и читателей. Чтобы ресурс мог оставаться площадкой для общения таких людей, существуют правила, за нарушение которых модераторы или его величие админ могут понизить права аккаунта до ReadOnly.
        Вот список того, чего не следует делать:
    </p>
    <ul>
        <li><p><strong>Инициировать политические дискуссии и участвовать в них</strong></p><p>Тематика нашего ресурса определена довольно чётко. Для рассуждений о политике есть куда более подходящие сайты.</p></li>
        <li>
            <p><strong>Оскорблять других участников сообщества</strong></p>
            <p>Не стоит быть токсичным по отношению к другим, у всех свое мнение и стоит его уважать. Вы не в Dota2 так что в случае откровенных переходов на личности права вашего аккаунта будут понижены до уровня ReadOnly</p>
        </li>
        <li>
            <p><strong>Игнорировать правила русского языка, коверкать слова, злоупотреблять смайликами </strong></p>
            <p>Даже если русский язык был не самым вашим любимым предметом в школе или не является родным — проверка орфографии в браузере у вас наверняка есть, не стоит ею пренебрегать. Смайлики и emoji допустимы в статьях (в умеренных количествах), но в заголовках их лучше не использовать.</p>
        </li>
        <li>
            <p><strong>Призывы к каким либо неправомерным действиям</strong></p>
            <p>В случае призыва других участников к каким-либо неправомерным действиям ваш аккаунт и все ваши записи будут немедленно заблокированны</p>

        </li>

    </ul>
</div>

{% endblock %}